!!!
%html
  %head
    %title Comvert HTML to Docbook
    %link{:rel=>"stylesheet", :href=>"/stylesheets/app.css", :media=>"screen"}
    %script{:src=>"/javascript/ckeditor/ckeditor.js"}
    %script{:src=>JQUERY}
    %script{:src=>JQUERY_UI}
    %link{:href=>"http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/smoothness/jquery-ui.css", :rel=>"stylesheet"}
    
    
    %script{:src=>"/javascript/app.js"}
  %body
    %header
      %h1 
        Convert HTML to Docbook [
        %a#help_link{:href=>"#help"} Help
        ]
    %section#main
      =yield        
    %footer
      %h5
        This experiment brought to you by 
        %a{:href => "http://www.twitter.com/bphogan"} Brian P. Hogan
        and the power of Ruby.